/* Overall App Layout */
.app {
  display: flex;
  flex-direction: column;
}

.app-content {
  display: flex;
  flex: 1;
  margin-top: 60px; 
  transition: margin-left 0.3s;
}

.sidebar-open .content {
  margin-left: 250px;
}

.sidebar-closed .content {
  margin-left: 60px; 
}


.content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
  overflow-y: auto;
}

.content h1 {
  color: #34495e;
  margin-bottom: 20px;
}
